stages:
  - build


build_runner:
  stage: build
  tags:
    - amd64
  variables:
    GITLAB_RUNNER_IMAGE_TYPE: gitlab-runner
    GITLAB_RUNNER_IMAGE_TAG: alpine-v17.9.1
  script:
    - docker build -t registry.minhviet.cc/qvn/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG --build-arg GITLAB_RUNNER_IMAGE_TYPE=$GITLAB_RUNNER_IMAGE_TYPE --build-arg GITLAB_RUNNER_IMAGE_TAG=$GITLAB_RUNNER_IMAGE_TYPE .
    - docker push registry.minhviet.cc/qvn/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG


build_runner_helper:
  stage: build
  tags:
    - amd64
  variables:
    GITLAB_RUNNER_IMAGE_TYPE: gitlab-runner-helper
    GITLAB_RUNNER_IMAGE_TAG: x86_64-v17.9.1
  script:
    - docker build -t registry.minhviet.cc/qvn/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG --build-arg GITLAB_RUNNER_IMAGE_TYPE=$GITLAB_RUNNER_IMAGE_TYPE --build-arg GITLAB_RUNNER_IMAGE_TAG=$GITLAB_RUNNER_IMAGE_TYPE .
    - docker push registry.minhviet.cc/qvn/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG
