.build_script:
  before_script:
    - echo $CI_DEPLOY_PASSWORD | docker login -u $CI_DEPLOY_USER --password-stdin $CI_REGISTRY
  script:
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG --build-arg GITLAB_RUNNER_IMAGE_TYPE=$GITLAB_RUNNER_IMAGE_TYPE --build-arg GITLAB_RUNNER_IMAGE_TAG=$GITLAB_RUNNER_IMAGE_TAG -f Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/$GITLAB_RUNNER_IMAGE_TYPE:$GITLAB_RUNNER_IMAGE_TAG
    - docker logout $CI_REGISTRY
  

stages:

  - build

build_runner:
  stage: build
  tags:
    - amd64
  variables:
    GITLAB_RUNNER_IMAGE_TYPE: gitlab-runner
    GITLAB_RUNNER_IMAGE_TAG: alpine-v17.9.1
  extends: .build_script


build_runner_helper:
  stage: build
  tags:
    - amd64
  variables:
    GITLAB_RUNNER_IMAGE_TYPE: gitlab-runner-helper
    GITLAB_RUNNER_IMAGE_TAG: x86_64-v17.9.1
  extends: .build_script
